.item {
  padding: 2rem;
  background-color: honeydew;
  flex: 0 0 auto;
}

.outerWrapper {
  position: relative;
  overflow: hidden;
}

.innerWrapper {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  -ms-overflow-style: none;
  scrollbar-width: none;
  margin-left: -1rem;
}

.innerWrapper::-webkit-scrollbar {
  display: none;
}
.innerWrapper > * {
  scroll-snap-align: center;
  margin-left: 1rem;
}

.btnWrapper {
  display: flex;
  gap: 0.5rem;
  margin: 0 auto;
  width: max-content;
}

.scrollBtn {
  border: none;
  background-color: white;
}

.scrollBtn:disabled .btnIcon {
  fill: grey;
}

.btnIcon {
  width: 1.5rem;
  height: 1.5rem;
  fill: blueviolet;
}
