.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  border: 2px solid gray;
  border-radius: 8px;
}

.itemsWrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.item {
  padding: 2rem;
  flex: 0 0 95%;
  background-color: honeydew;
  z-index: -1;
}

.hidden {
  display: none;
}

.active {
  display: block;
}

@keyframes slideInFwd {
  0% {
    transform: translateX(90%);
  }
  100% {
    transform: translateX(0);
  }
}

.forwardIn {
  animation: slideInFwd 0.5s ease-in;
}

@keyframes slideInBwd {
  0% {
    transform: translateX(-90%);
  }
  100% {
    transform: translateX(0);
  }
}

.backwardIn {
  animation: slideInBwd 0.5s ease-in;
}

.btnWrapper {
  display: flex;
  gap: 0.5rem;
}

.scrollBtn {
  padding: 0.2rem 0.5rem;
  border-radius: 2px;
  background-color: lightskyblue;
  border: none;
}
